@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .prose code {
    @apply text-base;
  }
  h1, .separator {
    @apply text-zinc-800 md:text-2xl dark:text-zinc-200 font-heading !important;
  }
  
  h2, h3, h4, h5, h6 {
    @apply text-zinc-800 md:text-2xl dark:text-zinc-200 font-sans !important;
  }
  p,
  li,
  strong,
  blockquote,
  table * {
    @apply text-zinc-800 dark:text-zinc-300;
  
  }
  kbd {
    @apply bg-white text-zinc-700;
  }
  mark {
    @apply bg-yellow-300;
  }
  body{
    cursor: url('https://unpkg.com/nes.css@2.3.0/assets/cursor.png'), auto;
  }
  a{
    cursor: url('https://unpkg.com/nes.css@2.3.0/assets/cursor-click.png'), auto;
  }
}

.video-wrapper {
  aspect-ratio: 16 / 9;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
}

input#nav-toggle:checked ~ label#show-button {
  @apply hidden;
}

input#nav-toggle:checked ~ label#hide-button {
  @apply flex md:hidden;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply block md:flex;
}

.sun {
  @apply stroke-zinc-500 transition-all;
}
.moon {
  @apply stroke-transparent transition-all;
}
.dark .sun {
  @apply stroke-transparent;
}
.dark .moon {
  @apply stroke-zinc-400;
}
#themeToggle:hover .sun {
  @apply stroke-zinc-800;
}
#themeToggle:hover .moon {
  @apply stroke-transparent;
}
.dark #themeToggle:hover .sun {
  @apply stroke-transparent;
}
.dark #themeToggle:hover .moon {
  @apply stroke-zinc-200;
}
@layer components {

/* .pixel-corners {
  border-style: solid;
  border-width: 4px;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6' ><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='rgb(24, 24, 27)' /></svg>");
} */

.dark-pixel-corners {
  border-style: solid;
  border-width: 4px;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6' ><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='rgb(228, 228, 231)' /></svg>");
}
.animated-image {
  width: 50%;
  height: 100%;
  background-image: url('/SPRITE.png');
  background-size: 200% 100%;
  background-position: 0 0;
  animation: animateSprite 3s steps(1) infinite;
}
.shape {
  width: 100%;
  aspect-ratio: 16 / 10;
  position: relative;
}

.shape::before {
  content: '';
  position: absolute;
  inset: 0;
  background: white;
  clip-path: polygon(0 0, 89% 0, 100% 17%, 100% 100%, 0 100%);
  z-index: -20;
}
.shape::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgb(24, 24, 27);
  clip-path: polygon(0 0, 90% 0, 100% 16%, 100% 100%, 0 100%);
  transform: scale(0.96);
  transform-origin: center center; 
  z-index: -10;
}
.shape:hover::before {
  background: #db2777;              /* Nuevo color al pasar el mouse */
}


@keyframes animateSprite {
  0%, 60% { background-position: 0 0; }
  61%, 80% { background-position: -100% 0; }
  81%, 85% { background-position: 0 0; }
  86%, 100% { background-position: -100% 0; }
  
}

@keyframes ani2{
  0%{background-size: 20rem; }

30%{background-size: 0%;
  background-position: 0% 0%;}
70%{background-size: 0%;}
100%{background-size: 20rem;
 
  }
}

@keyframes starsAni{
0%{background-position: 0px 0px;}
100%{background-position: 0px 313px ;}
}


.animate {
  animation: ani2 2s ;
  animation-fill-mode: forwards;
  
}
.animateReverse {
  animation: ani2 5s reverse;
  animation-fill-mode: forwards;
}

.planet{
background:
url("/mars.png") 50% 10% / 22rem no-repeat;

}
.stars {
background:
  url("/stars.png") repeat,rgb(24, 24, 27); 
animation: starsAni 8s linear infinite;
}

.planet::before {
content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
      to bottom,
      rgba(18, 16, 16, 0) 50%,
      rgba(0, 0, 0, 0.10) 50%
  );
  background-size: 100% 7px;
  z-index: 1;
  pointer-events: none;
}
}