@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .prose code {
    @apply text-base;
  }
  h1, .separator {
    @apply text-zinc-800 md:text-2xl dark:text-zinc-200 font-heading !important;
  }
  
  h2, h3, h4, h5, h6 {
    @apply text-zinc-800  dark:text-zinc-200 font-normal font-sans;
  }
  p,
  li,
  strong,
  blockquote,
  table * {
    @apply text-zinc-800 font-custom font-normal dark:text-zinc-300;
  
  }
  kbd {
    @apply bg-white text-zinc-700;
  }
  mark {
    @apply bg-yellow-300;
  }
  body{
    cursor: url('https://unpkg.com/nes.css@2.3.0/assets/cursor.png'), auto;
  }
  a{
    cursor: url('https://unpkg.com/nes.css@2.3.0/assets/cursor-click.png'), auto;
  }
}

.video-wrapper {
  aspect-ratio: 16 / 9;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
}

input#nav-toggle:checked ~ label#show-button {
  @apply hidden;
}

input#nav-toggle:checked ~ label#hide-button {
  @apply flex md:hidden;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply block md:flex;
}
.number{
  filter: drop-shadow(7px 9px 0px #0000005c);
}
.sun {
  @apply stroke-zinc-500 transition-all;
}
.moon {
  @apply stroke-transparent transition-all;
}
.dark .sun {
  @apply stroke-transparent;
}
.dark .moon {
  @apply stroke-zinc-400;
}
#themeToggle:hover .sun {
  @apply stroke-zinc-800;
}
#themeToggle:hover .moon {
  @apply stroke-transparent;
}
.dark #themeToggle:hover .sun {
  @apply stroke-transparent;
}
.dark #themeToggle:hover .moon {
  @apply stroke-zinc-200;
}
@layer components {
/*   .logo{
    transform: translateY(14px);
  } */
  .header {
    background: url("/FINAL444.png") repeat-x bottom;
    filter: grayscale();
} 

  .crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  
  @keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.10626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.10626;
    }
    30% {
    opacity: 0.18128;
    }
    35% {
    opacity: 0.23604;
    }
  }
  
  .crt::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }
  
  .cbbl {
    position: relative;
    display: inline-block;
    margin: 10px 9px 29px 6px;
    text-align: center;
    font-weight: 700;
    background-color: #ffffff;
    color: #000;
    padding: 5px;
    box-shadow: 0 -4px #d5d5d5, 0 -6px #000, 3px 0 #d5d5d5, 3px -3px #000, 6px 0 #000, 0 3px #d5d5d5, 0 6px #000, -3px 0 #d5d5d5, -3px 3px #000, -6px 0 #000, -3px -3px #000, 3px 3px #000, 3px 9px #aaaaaa4c, 6px 6px #aaaaaa4c, 9px 3px #aaaaaa4c;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }
  .cbbl::before,
  .cbbl::after {
    content: '';
    display: block;
    position: absolute;
    transition: all 0.3s ease;
    box-sizing: border-box;
    left: 90%;
  }
  .cbbl::after {
    background: #fff;
    width: 9px;
    height: 3px;
    bottom: -14px;
    margin-left: 6px;
    box-shadow: -3px 0 #000, 3px 0 #000, 3px 3px #fff, 0px 3px #000, 6px 3px #000, 9px 3px #aaa, 3px 6px #000, 6px 6px #000, 9px 6px #aaa, 6px 9px #aaa;
  }
  .cbbl::before {
    width: 15px;
    height: 8px;
    background: #fff;
    bottom: -11px;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
  }
  .cbbl.-hover:hover {
    background-color: #eee;
    color: #000;
    box-shadow: 0 -3px #eee, 0 -6px #7bc8a4, 3px 0 #eee, 3px -3px #7bc8a4, 6px 0 #7bc8a4, 0 3px #eee, 0 6px #7bc8a4, -3px 0 #eee, -3px 3px #7bc8a4, -6px 0 #7bc8a4, -3px -3px #7bc8a4, 3px 3px #7bc8a4, 3px 9px #cae9db, 6px 6px #cae9db, 9px 3px #cae9db;
  }
  .cbbl.-hover:hover::before {
    background: #eee;
    border-left-color: #7bc8a4;
    border-right-color: #7bc8a4;
  }
  .cbbl.-hover:hover::after {
    box-shadow: -3px 0 #7bc8a4, 3px 0 #7bc8a4, 3px 3px #eee, 0px 3px #7bc8a4, 6px 3px #7bc8a4, 9px 3px #cae9db, 3px 6px #7bc8a4, 6px 6px #7bc8a4, 9px 6px #cae9db, 6px 9px #cae9db, 9px 9px #7bc8a4;
  }
  .cbbl.-hover:hover.-control input[type=submit],
  .cbbl.-hover:hover.-control button,
  .cbbl.-hover:hover.-control a {
    color: #000;
  }
  .cbbl.-up {
    margin: 29px 9px 10px 6px;
  }
  .cbbl.-up::before {
    top: -11px;
    bottom: auto;
  }
  .cbbl.-up::after {
    top: -14px;
    bottom: auto;
    box-shadow: -3px 0 #000, 3px 0 #000, 3px -3px #fff, 0px -3px #000, 6px -3px #000, 3px -6px #000, 6px -6px #000;
  }
  .cbbl.-up.-hover:hover::after {
    box-shadow: -3px 0 #7bc8a4, 3px 0 #7bc8a4, 3px -3px #eee, 0px -3px #7bc8a4, 6px -3px #7bc8a4, 3px -6px #7bc8a4, 6px -6px #7bc8a4;
  }
  .cbbl.-up.-right::after {
    box-shadow: 3px 0 #000, -3px 0 #000, -3px -3px #fff, 0px -3px #000, -6px -3px #000, -3px -6px #000, -6px -6px #000;
  }
  .cbbl.-up.-right.-hover:hover::after {
    box-shadow: 3px 0 #7bc8a4, -3px 0 #7bc8a4, -3px -3px #eee, 0px -3px #7bc8a4, -6px -3px #7bc8a4, -3px -6px #7bc8a4, -6px -6px #7bc8a4;
  }
  .cbbl.-right::before,
  .cbbl.-right::after {
    left: auto;
    right: 20%;
  }
  .cbbl.-right::after {
    margin-left: 0;
    margin-right: 6px;
    box-shadow: 3px 0 #000, -3px 0 #000, -3px 3px #fff, 0px 3px #000, -6px 3px #000, -3px 6px #000, -6px 6px #000, -3px 9px #aaa, 0 6px #aaa, 3px 3px #aaa, 6px 0px #aaa;
  }
  .cbbl.-right.-hover:hover::after {
    box-shadow: 3px 0 #7bc8a4, -3px 0 #7bc8a4, -3px 3px #eee, 0px 3px #7bc8a4, -6px 3px #7bc8a4, -3px 6px #7bc8a4, -6px 6px #7bc8a4, -3px 9px #cae9db, 0 6px #cae9db, 3px 3px #cae9db, 6px 0px #cae9db;
  }
  .cbbl.-no-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .cbbl.-control {
    cursor: pointer;
  }
  .cbbl.-control input[type=submit],
  .cbbl.-control button,
  .cbbl.-control a {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .cbbl.-control:active {
    transform: scale(0.95);
  }
  

/* .pixel-corners {
  border-style: solid;
  border-width: 4px;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6' ><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='rgb(24, 24, 27)' /></svg>");
} */
.brick{
background: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffffff' fill-opacity='0.025'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h38v18H1V1zM0 23h18v18H0V23zm22 0h20v18H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.dark-pixel-corners {
  border-style: solid;
  border-width: 4px;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6' ><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='rgb(228, 228, 231)' /></svg>");
}
.animated-image {
  width: 50%;
  height: 100%;
  background-image: url('/SPRITE.png');
  background-size: 200% 100%;
  background-position: 0 0;
  animation: animateSprite 3s steps(1) infinite;
}
.pixel-corners2,
.pixel-corners2--wrapper {
  clip-path: polygon(0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px);
  position: relative;
}
.pixel-corners2 {
  border: 4px solid transparent;
}
.pixel-corners2--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners2--wrapper .pixel-corners2 {
  display: block;
  clip-path: polygon(4px 8px,
    8px 8px,
    8px 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px));
}
.pixel-corners2::after,
.pixel-corners2--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px,
    0px 50%,
    4px 50%,
    4px 8px,
    8px 8px,
    8px 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  display: block;
  pointer-events: none;
}
.pixel-corners2::after {
  margin: -4px;
}
.shape,
.shape-wrapper {
  clip-path: polygon(0px calc(100% - 24px),
    6px calc(100% - 24px),
    6px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 6px),
    24px calc(100% - 6px),
    24px 100%,
    calc(100% - 24px) 100%,
    calc(100% - 24px) calc(100% - 6px),
    calc(100% - 12px) calc(100% - 6px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 6px) calc(100% - 12px),
    calc(100% - 6px) calc(100% - 24px),
    100% calc(100% - 24px),
    100% 24px,
    calc(100% - 6px) 24px,
    calc(100% - 6px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 6px,
    calc(100% - 24px) 6px,
    calc(100% - 24px) 0px,
    24px 0px,
    24px 6px,
    12px 6px,
    12px 12px,
    6px 12px,
    6px 24px,
    0px 24px);
  position: relative;
}
.shape {
  border: 6px solid transparent;
}
.shape--wrapper {
  width: fit-content;
  height: fit-content;
}
.shape--wrapper .shape-corners {
  display: block;
  clip-path: polygon(6px 24px,
    12px 24px,
    12px 12px,
    24px 12px,
    24px 6px,
    calc(100% - 24px) 6px,
    calc(100% - 24px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 24px,
    calc(100% - 6px) 24px,
    calc(100% - 6px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 6px),
    24px calc(100% - 6px),
    24px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 24px),
    6px calc(100% - 24px));
}
.shape::after,
.shape--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 24px),
    6px calc(100% - 24px),
    6px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 6px),
    24px calc(100% - 6px),
    24px 100%,
    calc(100% - 24px) 100%,
    calc(100% - 24px) calc(100% - 6px),
    calc(100% - 12px) calc(100% - 6px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 6px) calc(100% - 12px),
    calc(100% - 6px) calc(100% - 24px),
    100% calc(100% - 24px),
    100% 24px,
    calc(100% - 6px) 24px,
    calc(100% - 6px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 6px,
    calc(100% - 24px) 6px,
    calc(100% - 24px) 0px,
    24px 0px,
    24px 6px,
    12px 6px,
    12px 12px,
    6px 12px,
    6px 24px,
    0px 24px,
    0px 50%,
    6px 50%,
    6px 24px,
    12px 24px,
    12px 12px,
    24px 12px,
    24px 6px,
    calc(100% - 24px) 6px,
    calc(100% - 24px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 24px,
    calc(100% - 6px) 24px,
    calc(100% - 6px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 6px),
    24px calc(100% - 6px),
    24px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 24px),
    6px calc(100% - 24px),
    6px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  display: block;
  pointer-events: none;
}
.shape::after {
  margin: -6px;
}

.icohearth:hover{
  filter: drop-shadow(0px 0px 8px #ff1313b4);
  transition: 0.5s;
}
.bar {
  background:
      linear-gradient(to right,
        #303030 0%, #303030 16.5%, white 16.5%, white 19%,
        #404040 19%, #404040 33%, white 33%, white 36%,
        #505050 36%, #505050 49.5%, white 49.5%, white 52%,
        #606060 52%, #606060 66%, white 66%, white 69%,
        #707070 69%, #707070 82.5%, white 82.5%, white 85%,
        transparent 85%, transparent 99%, white 99%);
}
.bounce-top {

}
@keyframes animateSprite {
  0%, 60% { background-position: 0 0; }
  61%, 80% { background-position: -100% 0; }
  81%, 85% { background-position: 0 0; }
  86%, 100% { background-position: -100% 0; }
  
}

}