---
import Base from "@layouts/Base.astro";
---

<Base meta_title="404">
<div class="h-screen px-4">
    <h1
      class="text-9xl text-center font-heading tracking-tight text-zinc-900 dark:text-white sm:text-9xl"
    >
      404 Page Not Found.
    </h1>
  </div>
</div>
</Base>
