---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About">
  <Page title="Sobre mí">
    <p>
      Hola, mi nombre es Eloy y recientemente me he introducido mundo de la programación. Aunque mi trabajo principal 
      se distancia considerablemente del ámbito IT. Actualmente me dedico a la investigación farmacéutica, acumulando más de 4 años de 
      experiencia en el sector.
    </p>
    <p>
      Si estás interesado en explorar mis proyectos más recientes, puedes encontrarlos [AQUÍ], o simplemente visitar mis redes 
      detalladas en el pie de la web. Para contactarme, puedes hacerlo a través de la sección de [CONTACTO].
    </p>
    <h2>¿Entonces por qué un blog de programación?</h2>
    <p>
      Siempre me ha atraído el mundo de la informática y la programación, junto con las infinitas posibilidades que ofrece.
      Hace unos años, realicé un intento al estudiar el primer año de Ingeniería Informática. Sin embargo, debido a la complejidad de conciliar trabajo 
      y estudio, me vi obligado a abandonar la carrera. Recientemente, decidí tomarme un descanso de mi trabajo principal durante aproximadamente un año, 
      durante el cual pude dedicarme a estudiar programación y conocer personas que me ayudaron a introducirme en este fascinante mundo. 
      La idea de este blog surgió durante este período.
    </p>
    <h2>¿Cuál es mi objetivo con este blog?</h2>
    <p>
      Mis objetivos con este blog y en general en dedicar tiempo a la programación, se podrían resumir en los siguientes puntos:
    </p>
    <ol>
      <li>Tener un respaldo de mi aprendizaje y continuar con él.</li>
      <li>Poder ayudar a las personas que lean mi contenido.</li>
      <li>Colaborar en diferentes proyectos de código abierto.</li>
    </ol>
    

  </Page>
</Base>
