---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About">
  <Page title="Sobre mí">
    <p>
      Hola, mi nombre es Eloy y recientemente me he introducido en el mundo de la programación. Pese a que la programación me apasiona mi trabajo principal dista bastante del mundo IT, actualmente me dedico a la investigación farmaceútica con mas de 4 años de experiencia en el sector.
      Si te interesa ver mis últimos proyectos puedes verlos aquí <a>[AQUÍ]</a> o pasate por mis redes que tienes listadas en el footer de esta página.
      Para contactarme puedes hacerlo a través de la página de <a>[CONTACTO]</a>

    </p>
    <h2>¿Entonces por qué un blog de programación?</h2>
    <p>
      Siempre me ha atraído el mundo de la informática/programación y las posibilidades que esta te permite.
      Hace un par de años realicé un acercamiento estudiando el primer año de Ingeniería informática, pero debido a la dificultad de compatibilizar trabajo y estudio, tuve que abandonar la carrera.
      Hace poco realicé una pausa en mi trabajo principal de alrededor de un año y en este tiempo pude dedicarme a estudiar programación y conocer gente que me ayudase a entrar en este mundillo.
      De este período surge la idea de este blog/portafolio personal.
    </p>
    <h2>¿Cuál es mi objetivo con este blog?</h2>
    <p>
      A lo largo de mi aprendizaje en este sector he descubierto las posibilidades que ofrece la programación prácticamente para cualquier sector.
      Nunca me imaginé la cantidad de cosas que podía mejorar y automatizar con unos conocimientos básicos.
      Entonces, mis objetivos con este blog y en general en dedicar tiempo a la programación, se podrían resumir en los siguientes puntos:
    </p>
    <ol>
      <li>Tener un respaldo de mi aprendizaje y continuar con él.</li>
      <li>Poder ayudar a las personas que lean mi contenido.</li>
      <li>Colaborar en diferentes proyectos de código abierto.</li>
    </ol>
    
    

  </Page>
</Base>
