---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About">
  <Page title="Sobre mí">
<p>Este blog/portfolio surge de mi interés por el mundo de la tecnología. En este apartado comentaré, en forma de preguntas y respuestas, temas sobre este blog.</p>
<p>Como introducción, quiero comentar que este blog está bajo la licencia MIT y su código fuente lo puedes encontrar en el siguiente repositorio -> <a href="https://github.com/E10YDEV/E10YWEBSITE">[E10Y WEBSITE]</a></p>

<h2>¿Cuál es mi objetivo con este blog?</h2>
<p>Mis objetivos con este blog, y en general con dedicar tiempo a la programación, se podrían resumir en los siguientes puntos:</p>
<p>- Tener un respaldo de mi aprendizaje y continuar con él.</p>
<p>- Poder ayudar a las personas que lean mi contenido.</p>
<p>- Colaborar en diferentes proyectos de código abierto.</p>

<h2>¿Qué tecnologías uso para el blog?</h2>
<p>Uso principalmente <strong>Astro</strong> para el framework de páginas estáticas y <strong>Tailwind</strong> para el estilo de la web.</p>

<h2>¿Usas alguna plantilla para el blog?</h2>
<p>Sí, esta web, pese a tener muchísimos cambios, estaba basada en <strong>EV0 Astro Theme</strong> de GNDX. Además, he tenido la oportunidad de colaborar aportando actualizaciones en la gestión del tema oscuro.</p>

<h2>¿En qué me he basado para el estilo del blog?</h2>
<p>Mi inspiración principal ha sido <strong>NES.CSS</strong>. Aunque NO uso ni una sola línea de su repositorio, te lo prometo. He ido adaptando a Tailwind y CSS las ideas más interesantes de la librería. He querido mantener un estilo monocromo que recuerde a videojuegos pixelart durante el desarrollo. Cabe destacar que no tengo conocimientos de diseño, así que he hecho lo que he podido… ¿da el pego?</p>

<h2>¿Por qué Tailwind?</h2>
<p>Tenía la esperanza de ahorrarme escribir cientos de líneas de vanilla CSS. <strong>SPOILER:</strong> No ha funcionado.</p>

<h2>¿Por qué mi blog no usa Google Fonts?</h2>
<p>Porque no quiero que Google sepa qué letra te gusta más. En su lugar uso Fontsource, una alternativa auto alojada Open Source.</p>

<h2>¿Mi blog está bien optimizado?</h2>
<p>Define "bien".</p>

<h2>¿Cuántas veces he cambiado la tipografía del blog?</h2>
<p>Al menos tres veces por semana.</p>

<h2>¿Por qué mi blog no tiene cookies?</h2>
<p>Porque no quiero que te sientas espiado... y porque no se me da bien la repostería.</p>

<h2>¿Cómo recopilo datos de los visitantes?</h2>
<p>No los recopilo, soy un blog, no la NSA.</p>

<h2>¿Cómo sé si alguien ha visitado mi blog?</h2>
<p>No lo sé, pero si quieres, mándame una señal de humo.</p>

<h2>¿Cómo sé que mi blog funciona en tu dispositivo?</h2>
<p>No lo sé, pero si no carga, dime y lo arreglo… probablemente.</p>

<h2>¿Cómo sé si mi blog se ha caído si no tengo monitoreo de terceros?</h2>
<p>Me entero cuando alguien me escribe "Oye, ¿esto ha petado?".</p>
  </Page>
</Base>
