---
import social from "@config/social";
import config from "@config/config.json";
const year = new Date().getFullYear();
const socialItems = social.networks;
---

<footer class="  px-4 bg-zinc-900 ">
  <div class="border-t border-zinc-100 dark:border-zinc-900">
    <div class="flex space-x-5 pt-8 m-auto justify-center items-center">
      {
        socialItems?.map((item) => (
          <a href={item.url} target="_blank" rel="noopener noreferrer">
            <figure>
              <Fragment set:html={item.svg} />
            </figure>
          </a>
        ))
      }
    </div>
    <p class="text-center text-xs/relaxed text-zinc-500 dark:text-zinc-400 mt-8 pb-8">
      &copy; {year}. {config.site.title} - All content is licensed under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>.
      <span class="block mt-2">
        This website is based on the
        <a
          href="https://gndx.dev"
          class="text-zinc-700 decoration-dashed transition hover:text-zinc-700/75 dark:text-zinc-200 dark:hover:text-zinc-200/75"
          >GNDX</a> template.
      </span>
    </p>
  </div>
</footer>


