---
import { Image } from "astro:assets";
import config from "@config/config.json";
import social from "@config/social";
import Scripts from '@components/Scripts.astro';

const socialItems = social.networks;
---

<section class="bg-zinc-50 cosa2 cosa  dark:bg-zinc-900 flex justify-center items-center">
  <div class="mx-auto  max-w-screen-lg px-4 pt-6 pb-0 sm:px-6 lg:px-8 text-center relative">
    <div class="mb-0">
      <figure class="relative">
        <div class="hidden dark:block">
        <Image
          class="rounded-lg w-60 md:w-60 mx-auto"
          width={512}
          height={512}
          src=/1.png
          alt={config.author.name}
          decoding="async"
          loading="lazy"
        />
    </div>
    <div class="block dark:hidden">
        <Image
        class="rounded-lg w-60 md:w-60 mx-auto"
        width={512}
        height={512}
        src=/2.png
        alt={config.author.name}
        decoding="async"
        loading="lazy"
      />
  </div>
    

      </figure>
      <p class="mt-4 font-heading text-lg text-zinc-500 dark:text-zinc-400">
        {"[Portfolio y Blog de Eloy Martinez]"}
      </p>
    </div>
  </div>
</section>