---
import RightArrowIcon from "@components/icons/RightArrowIcon.astro";
---

<div class=" text-center mb-7 mt-5">
  <a
    class="inline-block pixel-corners dark:dark-pixel-corners px-5 py-3 text-sm font-medium text-zinc-800 dark:text-amber-500 dark:hover:bg-zinc-200 dark:hover:text-black hover:bg-zinc-900 hover:text-white focus:outline-none"
    href="/blog"
  >
    Todos los posts &gt;&gt;

  </a>
</div>
