---
const { title } = Astro.props;
---

<div class="font-custom prose-a:text-blue-400 prose prose-gray prose-lg md:prose-lg prose-h1:mb-3 prose-h2:mb-2 prose-p:my-2 min-w-full">

  <h1 class="text-3xl">{title}</h1>
  <slot />
</div>
