---
import { Image } from 'astro:assets';
---

<div class="mx-auto grid grid-cols-1 gap-x-8 gap-y-16 md:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
  <article
    class=" relative flex w-full flex-col items-center justify-center rounded-md  pb-5 grayscale filter transition-transform hover:scale-110 hover:filter-none"
  >

    <a href="#">
      <div class="aspect-square mb-4 block overflow-hidden pt-5">
        <figure class="mx-auto h-auto w-5/6 object-cover">
          <Image
            class="transition duration-300 ease-in-out"
            src="/FLIPP_2.png"
            alt="title"
            width={500}
            height={500}
            decoding="async"
            loading="lazy"
          />
        </figure>
      </div>
      <div class="lg:pd-0 relative p-4 md:p-0">
        <h2
          class="mt-3 px-2 text-center text-3xl leading-6 text-zinc-900 group-hover:text-zinc-600 dark:text-white md:text-xl lg:text-2xl"
        >
          <span class="w-1/1 text-center font-heading">ReLab</span>
        </h2>
      </div>
    </a>
  </article>
  <article
    class=" relative flex w-full flex-col items-center justify-center rounded-md  pb-5 grayscale filter transition-transform hover:scale-110 hover:filter-none"
  >

    <a href="#">
      <div class="aspect-square mb-4 block overflow-hidden pt-5">
        <figure class="mx-auto h-auto w-5/6 object-cover">
          <Image
            class="transition duration-300 ease-in-out"
            src="/FDF_Logo.png"
            alt="title"
            width={500}
            height={500}
            decoding="async"
            loading="lazy"
          />
        </figure>
      </div>
      <div class="lg:pd-0 relative p-4 md:p-0">
        <h2
          class="mt-3 px-2 text-center text-3xl leading-6 text-zinc-900 group-hover:text-zinc-600 dark:text-white md:text-xl lg:text-2xl"
        >
          <span class="w-1/1 text-center font-heading"> FDF</span>
        </h2>

      </div>
    </a>
  </article>
  <article
    class=" relative flex w-full flex-col items-center justify-center rounded-md  pb-5 grayscale filter transition-transform hover:scale-110 hover:filter-none">

    <a href="#">
      <div class="aspect-square mb-0 block overflow-hidden pt-5">
        <figure class="mx-auto h-auto w-5/6 object-cover">
          <Image
            class="transition duration-300 ease-in-out"
            src="/SHELL_Logo.png"
            alt="title"
            width={500}
            height={500}
            decoding="async"
            loading="lazy"
          />
        </figure>
      </div>
      <div class="lg:pd-0 relative p-4 md:p-0">
        <h2
          class="mt-3 px-2 text-center text-3xl leading-6 text-zinc-900 group-hover:text-zinc-600 dark:text-white md:text-xl lg:text-2xl">
          <span class="w-1/1 text-center font-heading"> Example</span>
        </h2>

      </div>
    </a>
  </article>
</div>
