---
import { Image } from 'astro:assets';
---

<div class="mx-auto grid grid-cols-1 gap-x-8 gap-y-16 md:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
  <article
    class="pixel-corners2 relative flex w-full flex-col items-center justify-center rounded-md bg-zinc-900 pb-5 grayscale filter transition-transform hover:scale-110 hover:filter-none"
  >
    <div class="number absolute left-0 top-0 z-20 flex h-14 w-14 items-center justify-center bg-white px-2">
      <h3 class="!font-heading text-3xl !text-zinc-900">1</h3>
    </div>
    <a href="#">
      <div class="aspect-square mb-4 block overflow-hidden pt-5">
        <figure class="mx-auto h-auto w-5/6 object-cover">
          <Image
            class="transition duration-300 ease-in-out"
            src="/C_Logo.png"
            alt="title"
            width={500}
            height={500}
            decoding="async"
            loading="lazy"
          />
        </figure>
      </div>
      <div class="lg:pd-0 relative p-4 md:p-0">
        <h2
          class="mt-3 px-2 text-center text-3xl leading-6 text-zinc-900 group-hover:text-zinc-600 dark:text-white md:text-xl lg:text-2xl"
        >
          <span class="w-1/1 text-center font-heading"> ReLab</span>
        </h2>
        <p class="p-4 text-justify text-sm">
          Es un proyecto Open Source que reutiliza materiales de desecho de laboratorio, como cajas de puntas,
          transformándolos mediante impresión 3D y otras técnicas en nuevos objetos funcionales, promoviendo la
          sostenibilidad en la ciencia.
        </p>
      </div>
    </a>
  </article>
  <article
    class="pixel-corners2 relative flex w-full flex-col items-center justify-center rounded-md bg-zinc-900 pb-5 grayscale filter transition-transform hover:scale-110 hover:filter-none"
  >
    <div class="number absolute left-0 top-0 z-20 flex h-14 w-14 items-center justify-center bg-white px-2">
      <h3 class="!font-heading text-3xl !text-zinc-900">2</h3>
    </div>
    <a href="#">
      <div class="aspect-square mb-4 block overflow-hidden pt-5">
        <figure class="mx-auto h-auto w-5/6 object-cover">
          <Image
            class="transition duration-300 ease-in-out"
            src="/HTML_Logo.png"
            alt="title"
            width={500}
            height={500}
            decoding="async"
            loading="lazy"
          />
        </figure>
      </div>
      <div class="lg:pd-0 relative p-4 md:p-0">
        <h2
          class="mt-3 px-2 text-center text-3xl leading-6 text-zinc-900 group-hover:text-zinc-600 dark:text-white md:text-xl lg:text-2xl"
        >
          <span class="w-1/1 text-center font-heading"> FDF</span>
        </h2>
        <p class="p-4 text-justify text-sm">
          El proyecto FDF tiene como objetivo transformar un mapa de datos en un archivo a una representación gráfica
          2D. A través de técnicas de renderizado y transformaciones como escalado, rotación y traslación.
        </p>
      </div>
    </a>
  </article>
  <article
    class="pixel-corners2 relative flex w-full flex-col items-center justify-center rounded-md bg-zinc-900 pb-5 grayscale filter transition-transform hover:scale-110 hover:filter-none">
    <div class="number absolute left-0 top-0 z-20 flex h-14 w-14 items-center justify-center bg-white px-2">
      <h3 class="!font-heading text-3xl !text-zinc-900">3</h3>
    </div>
    <a href="#">
      <div class="aspect-square mb-4 block overflow-hidden pt-5">
        <figure class="mx-auto h-auto w-5/6 object-cover">
          <Image
            class="transition duration-300 ease-in-out"
            src="/Python_Logo.png"
            alt="title"
            width={500}
            height={500}
            decoding="async"
            loading="lazy"
          />
        </figure>
      </div>
      <div class="lg:pd-0 relative p-4 md:p-0">
        <h2
          class="mt-3 px-2 text-center text-3xl leading-6 text-zinc-900 group-hover:text-zinc-600 dark:text-white md:text-xl lg:text-2xl">
          <span class="w-1/1 text-center font-heading"> Example</span>
        </h2>
        <p class="p-4 text-justify text-sm">
          Es un proyecto Open Source que reutiliza materiales de desecho de laboratorio, como cajas de puntas,
          transformándolos mediante impresión 3D y otras técnicas en nuevos objetos funcionales, promoviendo la
          sostenibilidad en la ciencia.
        </p>
      </div>
    </a>
  </article>
</div>
