---
import { Image } from "astro:assets";
---

<div
  class=" mx-auto grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
>

<article class="relative bg-zinc-900 filter grayscale hover:filter-none hover:scale-110 transition-transform pb-5 pixel-corners2 flex w-full flex-col items-center justify-center rounded-md">
  <div class="absolute top-0 z-20 left-0 h-14 w-14 number bg-white flex items-center justify-center px-2">
    <h3 class="!font-heading text-3xl !text-zinc-900">1</h3>
  </div>

  <a href="#">
    <div class="block overflow-hidden aspect-square pt-5 mb-4">
      <figure class="w-5/6 h-auto  object-cover mx-auto">
        <Image
          class="transition duration-300 ease-in-out"
          src="/ReLab.png"
          alt="title"
          width={500}
          height={500}
          decoding="async"
          loading="lazy"
        />
      </figure>
    </div>
    <div class="md:p-0 lg:pd-0 p-4 relative">
      <h2 class="mt-3 text-3xl md:text-xl lg:text-2xl px-2 text-center leading-6 text-zinc-900 dark:text-white group-hover:text-zinc-600">
        <span class="w-1/1 font-heading text-center">
          ReLab
        </span>
      </h2>
      <p class="p-4 text-justify text-sm">
        Es un proyecto Open Source que reutiliza materiales de desecho de laboratorio, como cajas de puntas, transformándolos mediante impresión 3D y otras técnicas en nuevos objetos funcionales, promoviendo la sostenibilidad en la ciencia.
      </p>
    </div>
  </a>
</article>
<article class="relative bg-zinc-900 filter grayscale hover:filter-none hover:scale-110 transition-transform pb-5 pixel-corners2 flex w-full flex-col items-center justify-center rounded-md">
  <div class="absolute top-0 z-20 left-0 h-14 w-14 number bg-white flex items-center justify-center px-2">
    <h3 class="!font-heading text-3xl !text-zinc-900">2</h3>
  </div>

  <a href="#">
    <div class="block overflow-hidden aspect-square pt-5 mb-4">
      <figure class="w-5/6 h-auto  object-cover mx-auto">
        <Image
          class="transition duration-300 ease-in-out"
          src="/FDF.png"
          alt="title"
          width={500}
          height={500}
          decoding="async"
          loading="lazy"
        />
      </figure>
    </div>
    <div class="md:p-0 lg:pd-0 p-4 relative">
      <h2 class="mt-3 text-3xl md:text-xl lg:text-2xl px-2 text-center leading-6 text-zinc-900 dark:text-white group-hover:text-zinc-600">
        <span class="w-1/1 font-heading text-center">
          FDF
        </span>
      </h2>
      <p class="p-4 text-justify text-sm">
        El proyecto FDF tiene como objetivo transformar un mapa de datos en un archivo a una representación gráfica 2D. A través de técnicas de renderizado y transformaciones como escalado, rotación y traslación.
      </p>
    </div>
  </a>
</article>
<article class="relative bg-zinc-900 filter grayscale hover:filter-none hover:scale-110 transition-transform pb-5 pixel-corners2 flex w-full flex-col items-center justify-center rounded-md">
  <div class="absolute top-0 z-20 left-0 h-14 w-14 number bg-white flex items-center justify-center px-2">
    <h3 class="!font-heading text-3xl !text-zinc-900">3</h3>
  </div>

  <a href="#">
    <div class="block overflow-hidden aspect-square pt-5 mb-4">
      <figure class="w-5/6 h-auto  object-cover mx-auto">
        <Image
          class="transition duration-300 ease-in-out"
          src="/earth.png"
          alt="title"
          width={500}
          height={500}
          decoding="async"
          loading="lazy"
        />
      </figure>
    </div>
    <div class="md:p-0 lg:pd-0 p-4 relative">
      <h2 class="mt-3 text-3xl md:text-xl lg:text-2xl px-2 text-center leading-6 text-zinc-900 dark:text-white group-hover:text-zinc-600">
        <span class="w-1/1 font-heading text-center">
          Example
        </span>
      </h2>
      <p class="p-4 text-justify text-sm">
        Es un proyecto Open Source que reutiliza materiales de desecho de laboratorio, como cajas de puntas, transformándolos mediante impresión 3D y otras técnicas en nuevos objetos funcionales, promoviendo la sostenibilidad en la ciencia.
      </p>
    </div>
  </a>
</article>


</div>
